.Navbar {
    display: flex;
    align-items: center; /* Center items vertically */
    justify-content: space-between; /* Space out header and right section */
    position: absolute;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Add box shadow */
    width: 100%;
    height: 65px;
    margin: 0;
}
.logo{
    height: 60px;
    margin: auto 10px;
}
.header {
    font-family:'Times New Roman', Times, serif;
    font-size: 22px;
    top: 10px;
    display: flex;
    align-items: center;
}
.icon {
    margin-left: 8px;
    margin-right: 7px;
    font-size: 24px; /* Icon size */
    cursor: pointer; /* Change cursor on hover */
    
}

.user-info {
    display: flex;
    align-items: center;
    padding-left: 5px;
    margin-right: 10px; 
}
.dropdown-menu {
    position: absolute;
    top: 68px;
    right: 10px;
    background-color: white; /* Background color for the dropdown */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Box shadow for a subtle effect */
    border-radius: 5px; /* Rounded corners */
    z-index: 1000; /* Ensure it appears above other elements */
    display: flex;
    flex-direction: column; /* Stack options vertically */
    padding: 10px; /* Padding inside the dropdown */
}

.dropdown-menu button {
    background: none; /* No background */
    border: none; /* No border */
    padding: 10px 15px; /* Padding for the button */
    cursor: pointer; /* Change cursor to pointer */
    text-align: left; /* Align text to the left */
    width: 100%; /* Full width for easier clicking */
}

.dropdown-menu button:hover {
    background-color: #f0f0f0; /* Change background on hover */
}
