body{
    margin: 0;
}
.form {
    border: 2px solid rgb(31, 31, 44);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70vh;
    position: relative;
    height: 80vh;
    margin: auto;
    top: 80px;
    background-color: rgb(34, 34, 136);
    /* Center the form */
}

.input-container {
    width: 60%;
    display: flex;
    flex-direction: column;
}

.login-image{
    margin-left: 15%;
    height: 190px;
    width: 200px;
    border: 5px solid transparent;
    border-radius: 60%;
    margin-bottom: 10px;
}

.m-8 {
    margin-top: 8px;
    margin-bottom: 8px;
}

.placeholder {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

label {
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 14px;
    color: rgb(255, 255, 255);
}

.inputbox {
    padding: 16px;
    margin-top: 7px;
    border-radius: 3px;
    border: 1px solid gray;
    /* Consistent border */
    color: gray;
    width: 89%;
    /* Full width for input */
    transition: border-color 0.3s;
    /* Smooth transition for focus */
}

.inputbox:focus {
    border-color: #bf7b2e;
    /* Change border color on focus */
    outline: none;
    /* Remove default outline */
}

.btn {
    padding: 15px;
    width: 100%;
    /* Full width button */
    margin-top: 15px;
    /* Space above the button */
    background-color: #FF8C06;
    border: 2px solid transparent;
    /* Transparent border to prevent shift */
    border-radius: 10px;
    color: white;
    transition: background-color 0.3s, color 0.3s;
    /* Smooth transitions */
    outline: none;
}
a{
    color: white;
    text-decoration: none;
    justify-content: center;
}
.btn:hover {
    background-color: white;
    color: #FF8C06;
    border-color: #FF8C06;
    /* Show border on hover */
}
.form-bottom{
    margin-top: 15px;
}
.or-divider {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0; /* Adjust margin as needed */
  }
  
  .or-text {
    color: white;
    position: relative;
    padding: 0 10px; /* Space around the text */
  }
  
  .or-text::before,
  .or-text::after {
    content: '';
    flex: 1;
    height: 1px; /* Line thickness */
    background-color: #dbd4d4; /* Line color */
    margin: 0 10px; /* Space between line and text */
  }
  